<div id="content">
    <form id="geditid">
        {{ form.gid.errors }}
        {{ form.rev.errors }}

        <table id="edittab">
            <tr>
                <th>
                    Kandydat
                </th>
                <th>
                    Liczba głosów
                </th>
            </tr>
            <tr>
                <td>
                    {% csrf_token %}
                    {{ form.gid }}
                    {{ form.rev }}
                    {{ form.k1.errors }}
                    {{ form.k1.label }}
                </td>
                <td>
                    {{ form.k1 }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.k2.errors }}
                    {{ form.k2.label }}
                </td>
                <td>
                    {{ form.k2 }}
                </td>
            </tr>
        </table>
        <button type="button" onclick="submitEdit()"> Zapisz </button>
        <button type="button" onclick="showEdit({{ form.gid.value }})"> Odświerz </button>

    </form>
</div>
