{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Wybory 2005</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
        <script src= "{% static "jquery-1.12.2.js" %}"> </script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="{% static "highmaps.js" %}"></script>
        <script src="{% static "exporting.js" %}"></script>
        <script src= "{% static "map_static.js" %}"> </script>
        <script src= "{% static "refreshing.js" %}"> </script>
        <script src= "{% static "dialog.js" %}"> </script>
        <script>
            $(function () {
                refresh_data();
            });
        </script>
    </head>

    <body>
        <div id="container">
            <header>
                <img src="{% static "header.png" %}" alt=""/>
            </header>
            <nav>
                <ul id="navlist" class="font11">
                    <li><a href="###">Strona Główna</a></li>
                    <li><a href="###">Akty prawne</a></li>
                    <li><a href="###">Dokumenty</a></li>
                    <li><a href="###">Organy wyborcze</a></li>
                    <li><a href="###">Kandydaci</a></li>
                    <li><a href="###">Frekwencja</a></li>
                    <li><a href="###">Wyniki</a></li>
                    <li><a href="###">Pierwsze głosowanie</a></li>
                    <li><a href="###">SEJM</a></li>
                    <li><a href="###">SENAT</a></li>
                    <li><a href="###">Wykonawca</a></li>
                </ul>
            </nav>
            <main>
                <div id="strip" >
                    <div id="strip-text">
                        Wyniki głosowania
                    </div>
                    <div id="uname" style="float: right;">
                    {% if uname %}
                        Zalogowany jako {{ uname }}.
                        <a href="/logout/">Wyloguj</a>
                    {% else %}
                        <a href="/login/">Zaloguj</a>
                    {% endif %}
                    </div>
                </div>
                <div id="panel_w_map">
                    <p class="font11 miniheader">
                        Porównanie wyników głosowania na kandydatów
                    </p>
                    <div>
                        <div id = "mapbox">
                            <!--<img src = "{% static "map.png" %}" /> -->
                        </div>
                        <div id = "statbox">
                            <p class="font17" id="polska">
                                <a href="###" >Polska</a>
                            </p>
                            <table class="font11" cellpadding="0" cellspacing = "0" border="0"> 
                                <tr>
                                    <td colspan="2"  class="bold dark">
                                    Statystyka, stan na 30.06.2005
                                    </td>
                                </tr>
                                <tr><td>
                                        Liczba mieszkańców:
                                    </td><td class="bold">
                                        38028391
                                    </td></tr>
                                <tr><td>
                                        Powierzchnia:
                                    </td><td class="bold">
                                        312685 km2
                                    </td></tr>
                                <tr><td>
                                         Zaludnienie:
                                    </td><td class="bold">
                                        121 os/km2
                                    </td></tr>
                                <tr>
                                    <td colspan="2"  class="bold dark">
                                    Zbiorcze wyniki głosowania
                                    </td>
                                </tr>
                                <tr><td>
                                        Liczba uprawnionych:
                                    </td><td id="upr" class="bold">
                                    </td></tr>
                                <tr><td>
                                        Liczba wydanych kart:
                                    </td><td id="wyd" class="bold">
                                    </td></tr>
                                <tr><td>
                                         Liczba głosów oddanych
                                    </td><td id="odd" class="bold">
                                    </td></tr>
                                <tr><td>
                                         Liczba głosów ważnych
                                    </td><td id="waz" class="bold">
                                    </td></tr>
                            </table>
                        </div>
                    </div>
                    <div id="rangesbox">
                        <table>
                            <tr>
                                <td>
                                    brak
                                </td>
                                <td>
                                    50.00%
                                </td>
                                <td>
                                    &gt;50.00%
                                </td>
                                <td>
                                    &ge;52.27%
                                </td>
                                <td>
                                    &ge;54.54%
                                </td>
                                <td>
                                    &ge;56.81%
                                </td>
                                <td>
                                    &ge;59.08%
                                </td>
                                <td>
                                    &ge;61.35%
                                </td>
                                <td>
                                    &ge;63.62%
                                </td>
                                <td>
                                    &ge;65.89%
                                </td>
                                <td>
                                    &ge;68.16%
                                </td>
                                <td>
                                    &ge;70.43%
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: white;">
                                </td>
                                <td style="background-color: rgb(190, 255, 167);">
                                </td>
                                <td style="background-color: rgb(204, 227, 255);">
                                </td>
                                <td style="background-color: rgb(180, 213, 253);">
                                </td>
                                <td style="background-color: rgb(153, 199 ,255);">
                                </td>
                                <td style="background-color: rgb(125, 183 ,254);">
                                </td>
                                <td style="background-color: rgb(90, 164 ,254);">
                                </td>
                                <td style="background-color: rgb(53, 144 ,255);">
                                </td>
                                <td style="background-color: rgb(2, 115 ,253);">
                                </td>
                                <td style="background-color: rgb(2, 96 ,212);">
                                </td>
                                <td style="background-color: rgb(1, 74, 163);">
                                </td>
                                <td style="background-color: rgb(0, 53, 117);">
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color: white;">
                                </td>
                                <td style="background-color: rgb(190, 255, 167);">
                                </td>
                                <td style="background-color: rgb(255, 219, 112);">
                                </td>
                                <td style="background-color: rgb(255, 205, 112);">
                                </td>
                                <td style="background-color: rgb(255, 193, 94);">
                                </td>
                                <td style="background-color: rgb(255, 181, 84);">
                                </td>
                                <td style="background-color: rgb(255, 169, 81);">
                                </td>
                                <td style="background-color: rgb(255, 157, 57);">
                                </td>
                                <td style="background-color: rgb(254, 144, 32);">
                                </td>
                                <td style="background-color: rgb(255, 134, 9);">
                                </td>
                                <td style="background-color: rgb(231, 121, 0);">
                                </td>
                                <td style="background-color: rgb(206, 104, 0);">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    danych
                                </td>
                                <td>
                                    50.00%
                                </td>
                                <td>
                                    &gt;50.00%
                                <td>
                                    &ge;52.27%
                                </td>
                                <td>
                                    &ge;54.54%
                                </td>
                                <td>
                                    &ge;56.81%
                                </td>
                                <td>
                                    &ge;59.08%
                                </td>
                                <td>
                                    &ge;61.35%
                                </td>
                                <td>
                                    &ge;63.62%
                                </td>
                                <td>
                                    &ge;65.89%
                                </td>
                                <td>
                                    &ge;68.16%
                                </td>
                                <td>
                                    &ge;70.43%
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div id="panel_seemore" class="font11">
                    <p class="bold">
                        Zobacz także:
                    </p>
                    <ul>
                        <li><a href="###">Frekwencja</a></li>
                        <li><a href="###">Wyniki głosowania zagranicą</a></li>
                        <li><a href="###">Porównanie wyników głosowania na kandydatów w zależności od siedziby komisji obwodowej</a></li>
                    </ul>

                    <p class="bold">
                        Szczegółowe wyniki głosowania na kandydatów:
                    </p>
                    <ul>
                        <li><a href="###">{{ kand1.nazwa }}</a></li>
                        <li><a href="###">{{ kand2.nazwa }}</a></li>
                    </ul>
                </div>
                <div id="panel_final">
                    <p class="bold">
                    <a href="###" >{{ kand1.nazwa }}</a>
                    </p>
                    <div class="score-holder">
                        <div class="ruler">
                            <div id="c1b" class="candidate1" > </div>
                        </div>
                        <div id="c1p" class="percent">
                        </div>
                        <div id="c1c"class="count">
                        </div>
                    </div>
                    <p class="bold">
                    <a href="###" >{{ kand2.nazwa }}</a>
                    </p>
                    <div class="score-holder">
                        <div class="ruler">
                            <div id="c2b" class="candidate2" > </div>
                        </div>
                        <div id="c2p" class="percent">
                        </div>
                        <div id="c2c" class="count">
                        </div>
                    </div>
                </div>
                <div id="tabw" class="panel_table">
                </div>
                <div id="tabr" class="panel_table">
               </div>
            </main>
            <footer>
                <p id="about">
                    Zadanie zaliczeniowe 1 z aplikacji www<br>
                    Autor: Piotr Bakalarski
                </p>
            </footer>
        </div>
        <div id="dialog" title="bluh">
        </div>
    </body>

<html>
